[submodule "hakoniwa-master-rust"]
	path = hakoniwa-master-rust
	url = https://github.com/toppers/hakoniwa-master-rust.git
[submodule "hakoniwa-core-cpp-client"]
	path = hakoniwa-core-cpp-client
	url = https://github.com/toppers/hakoniwa-core-cpp-client.git
