[submodule "hakoniwa-core-cpp-client"]
	path = hakoniwa-core-cpp-client
	url = https://github.com/toppers/hakoniwa-core-cpp-client.git
[submodule "hakoniwa-conductor"]
	path = hakoniwa-conductor
	url = https://github.com/toppers/hakoniwa-conductor.git
